.listpoint {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 300px;
  }

  .foot {
    text-align: center;
  }

 .head {
  background: #fff; 
  text-align: center;
 }

 .lay {
  width: 100%;
 }

 .headmap {
  font-weight: bold
 }

 .cont {
  margin: 24px 16px 0;
 }